@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --green: #4caf4f;
  --footer: #263238;
}

:root {
  --font-body: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}
